*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #f5f8ff;
}
.wrapper{
    width: 95%;
    margin: 0 auto;
}
#search_container{
    margin: 1em 0;
}
#search_container input{
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid black;
    padding: 1em 0.3em;
}
#search_container input:focus {
    border-bottom-color:#6759ff;
}
#search{
    background-color: #6759ff;
    padding: 1em 2em;
    border-radius: 7px;
    margin-left: 1em;
    color: white;
    cursor: pointer;
    margin-top: 0.5em;
    margin-bottom: 2em;
}
.button_values:hover{
    background-color: rgb(74, 74, 255);
    color: white;
}
.button_values{
    background-color: transparent;
    border: 2px solid rgb(128, 17, 255);
    padding: 1em 2.6em;
    border-radius: 3em;
    margin: 3px;
    cursor: pointer;
    color: #6759ff
}
.active{
    background-color: #6759ff;
    color: #f5f8ff
}
#products{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
}
.card{
    background-color: white;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1,2,68,0.08);    
}
.image-container{
    text-align: center;
}
img{
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}
.container{
    padding-top: 1em;
    color: #110f29;
}
.container h5{
    font-weight: 700;
}
.hide{
    display: none;
}
@media screen and (max-width: 720px){
    img{
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }
    .card{
        max-width: 10em;
        margin-top: 1em;
    }
    #products{
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }
}